<h1>Shelters</h1>

<ul>
  <% @shelters.each do |shelter| %>
    <li>
      <%= link_to "#{shelter.name}", "/shelters/#{shelter.id}"  %> <%= link_to "Edit Shelter", "/shelters/#{shelter.id}/edit" %> 
      <%= link_to "Delete Shelter", "/shelters/#{shelter.id}", method: :delete %>
    </li>
  <% end %>
</ul>

<a href="/shelters/new">New Shelter</a>
